div#panel1a-header {
    background: #039be5;
    color: #fff;
}

.selected-row{
    background-color: yellow !important;
  }

  .w-49-5p{
      width:49.5%;
  }

  #state{width:49.5%; margin: 8px; margin-left:0px;}

  #country{width:49.5%; margin: 8px; margin-right:0px;}

    #outlined-password-input{padding: 8.3px 7px;}

  .esign_slab label{transform: translate(14px, 12px) scale(1);}

  .esign_slab .Mui-focused{color:#fff;}

  .esign_slab fieldset{border:1px solid #fff!important; }




/* new */

.btn_mrg {
    padding: 5px 9px;
}
.btn_mrg .material-icons{	font-size: 1.8rem;	}


#panel1a-header {
    min-height: 30px;
}
 
#panel1a-header .MuiExpansionPanelSummary-content.Mui-expanded, .MuiExpansionPanelSummary-content{
margin: 10px 0;
} 
#panel1a-header .MuiIconButton-root{padding: 4px;}

.rt-tbody{
    height: 368px;
    overflow-y: auto;
    overflow-x: hidden !important;
    
    }
    .color__chng {
        color: #000000b8;
    }
    
    .ReactTable .rt-thead .rt-th.-cursor-pointer, .ReactTable .rt-thead .rt-td.-cursor-pointer {
         font-weight: bold;
    }
    @media screen and (min-width:1700px) {
        .rt-tbody {
            height: 567px;
            overflow-x: hidden !important;
            }
            }


